/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Courier New', Courier, monospace }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.body-content{
    background-color: rgb(181, 153, 41);
}
*{ padding: 20px; }